@font-face{
    font-family: 'Trebuchet_MS';
    src: url(fonts/Trebuchet_MS.ttf);
}
@font-face{
    font-family: 'BallparkWiner';
    src: url('fonts/ballpark.eot');
    src: url(fonts/ballpark.eot?#iefix) format ('embebed-opentype'),
         url('fonts/ballpark.woff') format('woff'),
         url('fonts/ballpark.ttf') format ('truetype'),
         url('fonts/ballpark.xvg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Dayrom';
    src: url('fonts/dayrom.eot');
    src: url('fonts/dayrom.eot?#iefix') format ('embebed-opentype'),
         url('fonts/dayrom.woff') format('woff'),
         url('fonts/dayrom.ttf') format ('truetype'),
         url('fonts/dayrom.xvg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 50px;
    background-color: rgb(253, 247, 215);
    color: black;
    margin-top: 10px;
    margin: 50px;
}

#prueba{
    padding: 10px;
    display: inline-block;
    float: left;
}

#logoStyle{
    font-family: 'BALLW___'; 
    display: inline;
    font-size:2.5em;
 
}
h3, h2{
    font-family: 'DAYROM__';
}
h2{}
nav ul li{
    display: inline;
    float: right;

}
nav ul{
    width: 50%;
    float: right;
}

 #navigation li{
     list-style-type: none;
     display: inline;
     margin-right: 20px;
 }
 #navigation li a{
     text-decoration: none;
     color: black;
     font-family: 'DAYROM__';
     font-size: 1.5em;
     padding: 10px;
 }
 #navigation li a:hover{
     color: rgb(119, 16, 13);
     border-bottom: 2px solid rgb(119, 16, 13);

 }

 #sf_bridge{
     border-radius: 10px;
 }


article{
    float:left;
    width: 70%;
    justify-content: right;
}
aside{
    float: right;
    width: 25%;
    background-color: gray;
    border: gray solid;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    color:white;
}
#social_nets{
   justify-content: center;
  
}

footer{
    clear:both;
}

#last_week {
    float: left;
    width: 30%;
}

#my_pictures {
    float: left;
    width: 40%;
}
#my_friends {
    float: left;
    width: 30%;
}

#my_friends ul{
    list-style-image: url(images/ico_liensexterne.png);
}
#my_friends a{
    color: brown;
    text-decoration: none;
}

