ul{
    width: 150px;
    text-align: center;
}

li {
    list-style-type: none;
    color: white;
    padding: 20px;
    background-color: blue;
    border-bottom: white solid;
    position: relative;
}

li a{
    text-decoration: none;
    display: block;
    color: white;
}

li:hover{
    background-color: cyan;
    transition: all .3s;
}
li a:hover{
    color: black;
    transition: all .3s;
}

ul.noMenu{
    position: absolute;
    display: none;
}

.noMenu li a {
    visibility: visible;
    display: block;

}
.noMenu li:hover{
    


}




